body{
    background: #9c85d5;
    color: #ffffff;
    text-align: center;
}
h1{
    color:#000000;
    font-size: 60px;
}
button{
    padding: 6px 20px;
    background: #000000;
    border: 1px solid #fff;
    color: #fff;
    font-size: 26px;
    margin: 10px;
    cursor: pointer;
    transition: .5s;
}

button:hover{
    background: transparent;
    color: #23bd37;
    border: 1px solid #b53715;
    border-radius: 0;
}

img{
    border-radius: 50%;
    height: 100px;
}